/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
} */

#root,
body,
main {
  background-color: rgb(14, 15, 27);
}

main {
  height: 100vh;
  width: 100vw;
}

.active {
  color: white;
}
